html,
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.header-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  margin-top: 50px;
  color: #7567fa;
}

.menu-item {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.social-media-header-icon {
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}

.landing-section {
  padding-top: 100px;
}

.landing-heading {
  font-weight: 600;
  font-size: 38px;
  color: #000000;
  margin-bottom: 30px;
  color: #7567fa;
}

.landing-subheading {
  font-weight: 600;
  font-size: 25px;
  text-transform: capitalize;
  color: #919191;
  margin-bottom: 26px;
}

.landing-description {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.email-input {
  width: 425px;
  height: 53px;
  border: 1px solid rgba(55, 57, 69, 0.5);
  border-radius: 0;
  border-right-style: none;
}

.stay-in-touch-btn {
  width: 227px;
  height: 53px;
  border: 1px solid rgba(55, 57, 69, 0.5);
  padding: 16px 60px;
  font-weight: 600;
  font-size: 14px;
  color: #373945;
  border-radius: 0;
}

.dive-more {
  font-weight: 500;
  font-size: 16px;
  color: #373945;
}

.dive-more-icon {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  font-size: 34px;
  cursor: pointer;
}

.container-section {
  margin: 130px 0px;
}

.container-heading {
  font-weight: 600;
  font-size: 40px;
  color: #7567fa;
}

.container-subheading {
  font-weight: 600;
  font-size: 25px;
  color: #000000;
}

.container-desc {
  font-size: 18px;
  font-weight: 400;
  color: #373945;
}

.container-subheading-margin {
  margin-bottom: 35px;
}

.container-point-heading {
  font-weight: 600;
  font-size: 30px;
  color: #000000;
}

.core-features-heading {
  margin-top: 100px;
  width: 400px;
}

.core-features-row {
  display: none;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 2s;
}

.container-heading-line {
  width: 100px;
  height: 5.1px;
  background: #e36858;
  margin-top: 28px;
  margin-bottom: 28px;
}

.points-heading {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.points-desc {
  font-size: 18px;
  font-weight: 400;
  color: rgba(55, 57, 69, 0.6);
  width: 400px;
}

.learn-more {
  font-weight: 600;
  font-size: 16px;
  color: #373945;
  margin-top: 22px;
}

.pagination-line {
  width: 60px;
  height: 5px;
  background: rgba(55, 57, 69, 0.2);
  cursor: pointer;
}

.pagination-active {
  background: #7567fa !important;
}

.pagination-arrows {
  font-size: 26px;
  color: #373945;
  cursor: pointer;
}

.featured-container {
  display: none;
  align-items: center;
  background: #373945;
  padding: 35px 50px;
}

.investors-container {
  display: none;
  align-items: center;
  background: #373945;
  padding: 35px 50px;
}

.logo-filter {
  filter: brightness(0) invert(1);
  transition: 0.7s ease-in-out;
}

.logo-filter:hover {
  filter: none;
}

.logo-grayscale {
  filter: grayscale(1);
  transition: 0.7s ease-in-out;
}

.logo-grayscale:hover {
  filter: none;
}

.bsc-logo-grayscale {
  filter: grayscale(1) brightness(0.5);
  transition: 0.7s ease-in-out;
}

.bsc-logo-grayscale:hover {
  filter: none;
}

.featured-col-width {
  width: 200px;
}

.featured-mr {
  margin-right: 70px;
}

.benzinga-logo {
  width: 200px;
  /* margin-left: 80px; */
  /* margin-right: 100px; */
}

.bscnews-logo {
  width: 100px;
  /* margin-right: 100px; */
}

.yahoo-logo {
  width: 200px;
}

.featured-news {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  height: 130px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-box {
  border: 1px solid #b8b8b8;
  padding: 30px;
}

.product-gui {
  position: relative;
  top: 150px;
}

.product-blockchain {
  position: relative;
  top: 150px;
}

.product-grid-end-margin {
  margin-bottom: 280px;
}

.logo-circle-border {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #b8b8b8;
}

.development-name {
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  margin-left: 25px;
}

.binance-dev-logo {
  width: 66px;
  height: 66px;
  margin: 15px 0px 0px 16px;
}

.ethereum-dev-logo {
  width: 71px;
  height: 71px;
  margin: 12px 12px 0px 14px;
}

.solana-dev-logo {
  width: 55px;
  height: 55px;
  margin: 20px 0px 0px 22px;
}

.polkadot-dev-logo {
  width: 65px;
  height: 65px;
  margin: 14px 12px 0px 19px;
}

.polygon-dev-logo {
  width: 60px;
  height: 66px;
  margin: 14px 0px 0px 19px;
}

.plus-icon {
  font-size: 65px;
  margin: 16px 0px 0px 21px;
}

.dev-margin {
  margin-right: 74px;
}

.bsc-text {
  width: 120px;
}

.more-tech-text {
  width: 145px;
}

.ipfs-dev-logo {
  width: 70px;
  height: 70px;
  margin: 14px 0px 0px 14px;
}

.oneinch-dev-logo {
  width: 70px;
  height: 66px;
  margin: 17px 0px 0px 12px;
}

.trezor-dev-logo {
  width: 66px;
  height: 66px;
  margin: 15px 0px 0px 17px;
}

.bakeryswap-dev-logo {
  width: 66px;
  height: 66px;
  margin: 16px 0px 0px 18px;
}

.ledger-dev-logo {
  width: 58px;
  height: 58px;
  margin: 19px 0px 0px 21px;
}

.trustwallet-dev-logo {
  width: 65px;
  height: 65px;
  margin: 18px 0px 0px 18px;
}

.path-dev-logo {
  width: 58px;
  height: 68px;
  margin: 14px 0px 0px 21px;
}

.metamask-dev-logo {
  width: 69px;
  height: 68px;
  margin: 16px 0px 0px 16px;
}

.pancake-dev-logo {
  width: 62px;
  height: 62px;
  margin: 18px 0px 0px 19px;
}

.openocean-dev-logo {
  width: 68px;
  height: 64px;
  margin: 17px 0px 0px 18px;
}

.mask-dev-logo {
  width: 60px;
  height: 64px;
  margin: 16px 0px 0px 20px;
}

.pleb-dev-logo {
  width: 60px;
  height: 62px;
  margin: 18px 0px 0px 20px;
}

.bsc-dev-logo {
  width: 66px;
  height: 50px;
  margin: 24px 0px 0px 17px;
}

.faq-question-header {
  background: transparent !important;
}

.faq-question-border {
  border-bottom: rgba(55, 57, 69, 0.4);
}

.faq-question {
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}

.faq-question-btn {
  font-size: 24px;
}

.receive-email {
  font-size: 14px;
  color: rgba(55, 57, 69, 0.6);
}

.stay-in-touch-learn-more-btn {
  width: 300px;
  height: 53px;
  border: 1px solid rgba(55, 57, 69, 0.5);
  padding: 16px 60px;
  font-weight: 600;
  font-size: 14px;
  color: #373945;
  border-radius: 0;
}

.email-input-learn-more {
  width: 100%;
  height: 53px;
  border: 1px solid rgba(55, 57, 69, 0.5);
  border-radius: 0;
  border-right-style: none;
}

.footer-section {
  border-top: 3px solid #b8b8b8;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  width: 80px;
  height: 80px;
}

.footer-heading {
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  margin-left: 25px;
  margin-top: 20px;
}

.footer-desc {
  font-size: 14px;
  font-weight: 400;
  color: rgba(55, 57, 69, 0.6);
}

.footer-menu-item {
  font-weight: 500;
  font-size: 18px;
  color: #373945;
  margin-bottom: 23px;
}

.footer-subheading {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

.footer-link {
  font-size: 18px;
  font-weight: 400;
  color: #7567fa;
}

.social-media-footer-icon {
  margin-right: 30px;
  font-size: 30px;
  color: rgba(55, 57, 69, 0.5);
  cursor: pointer;
}

.footer-desc {
  font-size: 18px;
  font-weight: 400;
  color: rgba(55, 57, 69, 0.6);
}

.logo-circle-border-footer {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid #b8b8b8;
}

.binance-dev-logo-footer {
  width: 42px;
  height: 42px;
  margin: 9px 0px 0px 10px;
}

.ethereum-dev-logo-footer {
  width: 44px;
  height: 44px;
  margin: 8px 0px 0px 8px;
}

.solana-dev-logo-footer {
  width: 35px;
  height: 35px;
  margin: 12px 0px 0px 14px;
}

.polygon-dev-logo-footer {
  width: 35px;
  height: 35px;
  margin: 12px 0px 0px 13px;
}

.polkadot-dev-logo-footer {
  width: 40px;
  height: 40px;
  margin: 9px 0px 0px 11px;
}

.mob-header-dropdown {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #373945;
}

.dropdown-menu-item {
  font-weight: 600;
  font-size: 18px;
  color: #373945;
}

.core-features-platform-fee {
  transform: scale(1.6);
  position: relative;
  left: -100px;
}

.core-features-decentralized {
  transform: scale(2.5);
  position: relative;
  top: 25px;
}

.core-features-payment {
  transform: scale(2.5);
  position: relative;
  top: 10px;
  left: -110px;
}

.core-features-withdrawal {
  transform: scale(2.5);
  position: relative;
  left: -150px;
  top: -20px;
}

.core-features-benefit {
  transform: scale(2.8);
  position: relative;
  left: -115px;
  top: 25px;
}

.core-features-protection {
  transform: scale(2.5);
  position: relative;
  left: -115px;
  top: 15px;
}

.core-features-governance {
  transform: scale(2.5);
  position: relative;
  left: -100px;
  top: 15px;
}

.core-features-burn {
  transform: scale(3.2);
  position: relative;
  left: -85px;
  top: 8px;
}

.pagination-index {
  z-index: 2;
}

.product-image {
  width: 400px;
  transform: scale(2.2);
}

.hide-content {
  display: none !important;
  transition: opacity 3s ease-out;
  opacity: 0;
}

.show-content {
  opacity: 1;
  display: flex !important;
  transition: opacity 3s ease-out;
}

.timeline-line {
  width: 100%;
  height: 4px;
  background: #7567fa;
  position: relative;
  top: 50px;
}

.timeline-dates {
  z-index: 1;
  padding-left: 100px;
  padding-right: 60px;
}

.year-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ffffff;
  border: 4px solid #b8b8b8;
  margin-right: 90px;
  font-size: 26px;
  color: #000000;
  display: none;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.quarter-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffffff;
  border: 4px solid #b8b8b8;
  margin-right: 90px;
  font-size: 20px;
  color: #000000;
  display: none;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

/* Slider */
.timeline-slider-container {
  padding: 0;
}

.timeline-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  background: #b8b8b8;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.timeline-slider:hover {
  opacity: 1;
}

.timeline-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 42px;
  height: 42px;
  background: #7567fa;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #b8b8b8;
}

.timeline-slider::-moz-range-thumb {
  width: 42px;
  height: 42px;
  background: #7567fa;
  cursor: pointer;
  border-radius: 50%;
  border: 4px solid #b8b8b8;
}

.slider-date-line {
  width: 2px;
  height: 20px;
  background: #b8b8b8;
}

.slider-date {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

/* End of Slider */

/* Media Queries */
@media (min-width: 320px) and (max-width: 480px) {
  .header-heading {
    margin-bottom: 17px;
    font-size: 42px;
  }

  .landing-section {
    padding-top: 44px;
  }

  .mob-flex-column {
    flex-direction: column !important;
  }

  .email-input {
    width: 100%;
  }

  .stay-in-touch-btn {
    width: 200px;
    padding: 16px 14px;
  }

  .container-heading {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .container-subheading {
    font-size: 17px;
    margin-top: 30px;
  }

  .container-desc {
    font-size: 15px;
  }

  .container-point-heading {
    font-size: 26px;
  }

  .points-heading {
    font-size: 17px;
  }

  .points-desc {
    font-size: 15px;
  }

  .learn-more {
    font-size: 15px;
  }

  .featured-mr {
    margin-right: 0px;
  }

  .featured-col-width {
    width: 100%;
  }

  .benzinga-logo {
    width: 85px;
  }

  .bscnews-logo {
    width: 85px;
  }

  .yahoo-logo {
    width: 85px;
  }

  .landing-section {
    margin-left: 5px;
  }

  .container-section {
    margin-left: 5px;
  }

  .points-desc {
    width: 300px;
  }

  .core-features-heading {
    width: 300px;
  }

  .stay-in-touch-learn-more-btn {
    width: 200px;
    padding: 16px 14px;
  }

  .email-input-learn-more {
    width: 100%;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }

  .product-box {
    padding: 24px;
  }

  .product-gui {
    top: 0;
  }

  .product-blockchain {
    top: 0;
  }

  .logo-circle-border {
    width: 70px;
    height: 70px;
  }

  .binance-dev-logo {
    width: 46px;
    height: 46px;
    margin: 10px 0px 0px 12px;
  }

  .ethereum-dev-logo {
    width: 49px;
    height: 49px;
    margin: 8px 0px 0px 10px;
  }

  .solana-dev-logo {
    width: 38px;
    height: 38px;
    margin: 14px 0px 0px 16px;
  }

  .polkadot-dev-logo {
    width: 45px;
    height: 45px;
    margin: 11px 0px 0px 13px;
  }

  .polygon-dev-logo {
    width: 41px;
    height: 41px;
    margin: 12px 0px 0px 14px;
  }

  .dev-margin {
    margin-right: 30px;
  }

  .development-name {
    font-size: 14px;
    margin-left: 12px;
  }

  .landing-heading {
    font-size: 30px;
  }

  .landing-description {
    font-size: 16px;
  }

  .mb-sm-0 {
    margin-bottom: 0 !important;
  }

  .mt-sm-4 {
    margin-top: 1.5rem !important;
  }

  .mt-sm-30 {
    margin-top: 30px !important;
  }

  .powered-by-subheading {
    font-size: 22px !important;
  }

  .ipfs-dev-logo {
    width: 48px;
    height: 48px;
    margin: 10px 0px 0px 11px;
  }

  .oneinch-dev-logo {
    width: 48px;
    height: 48px;
    margin: 10px 0px 0px 10px;
  }

  .trezor-dev-logo {
    width: 50px;
    height: 50px;
    margin: 10px 0px 0px 10px;
  }

  .bakeryswap-dev-logo {
    width: 49px;
    height: 49px;
    margin: 8px 7px 0px 11px;
  }

  .ledger-dev-logo {
    width: 38px;
    height: 38px;
    margin: 15px 0px 0px 16px;
  }

  .trustwallet-dev-logo {
    width: 48px;
    height: 48px;
    margin: 11px 0px 0px 11px;
  }

  .path-dev-logo {
    width: 40px;
    height: 50px;
    margin: 9px 0px 0px 15px;
  }

  .metamask-dev-logo {
    width: 55px;
    height: 55px;
    margin: 8px 0px 0px 8px;
  }

  .pancake-dev-logo {
    width: 45px;
    height: 45px;
    margin: 11px 0px 0px 13px;
  }

  .openocean-dev-logo {
    width: 54px;
    height: 50px;
    margin: 9px 5px 0px 8px;
  }

  .mask-dev-logo {
    width: 48px;
    height: 52px;
    margin: 8px 0px 0px 11px;
  }

  .pleb-dev-logo {
    width: 46px;
    height: 48px;
    margin: 10px 0px 0px 12px;
  }

  .bsc-dev-logo {
    width: 40px;
    height: 40px;
    margin: 14px 0px 0px 15px;
  }

  .receive-email {
    font-size: 12px;
  }

  .binance-dev-logo-footer {
    width: 35px;
    height: 35px;
    margin: 8px 0px 0px 9px;
  }

  .polkadot-dev-logo-footer {
    width: 34px;
    height: 34px;
    margin: 8px 0px 0px 10px;
  }

  .ethereum-dev-logo-footer {
    width: 38px;
    height: 38px;
    margin: 6px 0px 0px 8px;
  }

  .solana-dev-logo-footer {
    width: 30px;
    height: 32px;
    margin: 9px 0px 0px 12px;
  }

  .polygon-dev-logo-footer {
    width: 32px;
    height: 32px;
    margin: 10px 0px 0px 10px;
  }

  .logo-footer-mob-mr {
    margin-right: 7px !important;
  }

  .logo-circle-border-footer {
    width: 53px;
    height: 53px;
  }

  .footer-section {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer-mob-order-1 {
    order: 1;
    text-align: left !important;
  }

  .footer-mob-order-2 {
    order: 2;
    margin-bottom: 50px;
  }

  .footer-mob-order-3 {
    order: 3;
  }

  .footer-desc {
    font-size: 14px;
  }

  .core-features-decentralized {
    left: 40px;
    transform: scale(3);
  }

  .core-features-payment {
    transform: scale(3);
    left: -75px;
  }

  .core-features-platform-fee {
    transform: scale(2);
    left: -65px;
  }

  .core-features-withdrawal {
    transform: scale(3);
    left: -110px;
  }

  .core-features-benefit {
    transform: scale(3);
    left: -75px;
    top: 10px;
  }

  .core-features-protection {
    transform: scale(3);
    left: -80px;
    top: -10px;
  }

  .core-features-governance {
    transform: scale(3);
    left: -50px;
  }

  .core-features-burn {
    transform: scale(3.8);
    left: -45px;
    top: -8px;
  }

  .product-image {
    width: 300px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .points-desc {
    width: 320px;
  }

  .stay-in-touch-btn {
    padding: 16px 25px;
  }

  .benzinga-logo {
    width: 150px;
  }

  .container-heading {
    font-size: 36px;
  }

  .binance-dev-logo-footer {
    margin: 9px 9px 0px 10px;
  }

  .ethereum-dev-logo-footer {
    margin: 8px 8px 0px 8px;
  }

  .solana-dev-logo-footer {
    margin: 12px 12px 0px 14px;
  }

  .polygon-dev-logo-footer {
    margin: 12px 12px 0px 13px;
  }

  .polkadot-dev-logo-footer {
    margin: 9px 9px 0px 11px;
  }

  .logo-circle-border {
    width: 80px;
    height: 80px;
  }

  .dev-margin {
    margin-right: 50px;
  }

  .binance-dev-logo {
    width: 60px;
    height: 60px;
    margin: 9px 0px 0px 10px;
  }

  .ethereum-dev-logo {
    width: 61px;
    height: 61px;
    margin: 8px 12px 0px 10px;
  }

  .solana-dev-logo {
    width: 45px;
    height: 48px;
    margin: 14px 0px 0px 18px;
  }

  .polkadot-dev-logo {
    width: 55px;
    height: 55px;
    margin: 11px 12px 0px 14px;
  }

  .polygon-dev-logo {
    width: 50px;
    height: 56px;
    margin: 10px 0px 0px 15px;
  }

  .plus-icon {
    font-size: 56px;
    margin: 10px 0px 0px 16px;
  }

  .ipfs-dev-logo {
    width: 60px;
    height: 60px;
    margin: 10px 0px 0px 10px;
  }

  .oneinch-dev-logo {
    width: 60px;
    height: 56px;
    margin: 11px 0px 0px 9px;
  }

  .trezor-dev-logo {
    width: 56px;
    height: 56px;
    margin: 10px 0px 0px 12px;
  }

  .bakeryswap-dev-logo {
    width: 56px;
    height: 56px;
    margin: 10px 0px 0px 12px;
  }

  .ledger-dev-logo {
    width: 48px;
    height: 48px;
    margin: 15px 0px 0px 16px;
  }

  .trustwallet-dev-logo {
    width: 55px;
    height: 55px;
    margin: 14px 0px 0px 12px;
  }

  .path-dev-logo {
    width: 48px;
    height: 58px;
    margin: 10px 0px 0px 16px;
  }

  .metamask-dev-logo {
    width: 58px;
    height: 58px;
    margin: 11px 0px 0px 11px;
  }

  .pancake-dev-logo {
    width: 52px;
    height: 52px;
    margin: 13px 0px 0px 14px;
  }

  .openocean-dev-logo {
    width: 58px;
    height: 54px;
    margin: 12px 0px 0px 13px;
  }

  .mask-dev-logo {
    width: 50px;
    height: 54px;
    margin: 12px 0px 0px 15px;
  }

  .pleb-dev-logo {
    width: 50px;
    height: 52px;
    margin: 14px 0px 0px 15px;
  }

  .bsc-dev-logo {
    width: 56px;
    height: 40px;
    margin: 20px 0px 0px 12px;
  }

  .product-box {
    width: 370px;
  }

  .product-image {
    width: 300px;
    transform: scale(2.4);
  }
}

/* Fading animation */
.fade-in-right {
  -webkit-animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
