.header-btn {
    border: 1px solid rgba(2,123,151,1.0) !important;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 16%);
}

.header-btn-text {
  color: rgb(2 123 151) !important;
  font-family: 'Roboto', Helvetica !important; 
  font-size: 12px !important;
}

.product-text {
    line-height: 23px !important;
    right: calc(46.88% - 21px) !important;
}

.giglantis-header-btn {
    font-size: 13px !important;
    font-weight: 500 !important;
    font-family: 'Roboto' !important;
}