@import url("https://fonts.googleapis.com/css?family=Mukta+Malar:400,700,300,500,600,200|Work+Sans:700");

@font-face {
  font-family: "Smallville-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://anima-uploads.s3.amazonaws.com/projects/5fff6d9633e67c6f4b290467/fonts/films-smallville1.ttf")
    format("truetype");
}

@font-face {
  font-family: "LeagueSpartan-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("https://anima-uploads.s3.amazonaws.com/5b53693a27522f000994e8a7/leaguespartan-bold.ttf")
    format("truetype");
}

.header-btn {
  border: 1px solid rgba(2, 123, 151, 1) !important;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 12%);
  border-radius: 7px !important;
}

.header-btn-text {
  color: rgb(2 123 151) !important;
  font-family: "Roboto", Helvetica !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}

.product-text {
  line-height: 23px !important;
  right: calc(46.88% - 21px) !important;
}

.giglantis-header-btn {
  font-size: 13px !important;
  font-weight: 500 !important;
  font-family: "Roboto" !important;
}

.component-wrapper a,
.screen a {
  text-decoration: none;
  display: contents;
}

.full-width-a {
  width: 100%;
}

.full-height-a {
  height: 100%;
}

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen *,
.component-wrapper * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.container-center-vertical,
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.container-center-vertical {
  align-items: center;
  height: 100%;
}

.container-center-horizontal {
  justify-content: center;
  width: 100%;
}

.container-center-vertical > *,
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}

.component-wrapper,
.screen {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.auto-animated div {
  opacity: 0;
  position: absolute;
  --z-index: -1;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.overlay {
  position: absolute;
  opacity: 0;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.animate-appear {
  opacity: 0;
  display: block;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
}

.animate-disappear {
  opacity: 1;
  display: block;
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
}

.animate-nodelay {
  animation-delay: 0s;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.align-self-flex-start {
  align-self: flex-start;
}
.align-self-flex-end {
  align-self: flex-end;
}
.align-self-flex-center {
  align-self: center;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
input:focus {
  outline: none;
}
.component-wrapper,
.component-wrapper * {
  pointer-events: none;
}

.component-wrapper a *,
.component-wrapper a,
.component-wrapper input,
.component-wrapper video,
.component-wrapper iframe,
.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  visibility: hidden;
  pointer-events: none;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}

.component-wrapper.not-ready,
.component-wrapper.not-ready * {
  visibility: hidden !important;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

.menu-btn-div {
  display: block;
  width: 100%;
  height: fit-content;
}

.ease-transition {
  transition: 0.5s ease-in;
}

.mobile-menu-item {
    padding: 18px 32px;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    font-weight: 300;
    font-family: 'Roboto';
   
}

.menu-item:hover {
  color: #f1f1f1;
}

.h-full {
    height: 100vh;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.menu-items {
    display: none;
    flex-direction: column;
    position: relative;
    top: 20px;
    left: 96px;
    width: 200px;
}

.solona-logo-featured {
    position: absolute;
    right: calc(29.29% - 205px);
    top: calc(34.20% - 33px);
    width: 112px;
}

.solona-logo-featured-mob {
    position: absolute;
    right: calc(29.29% - 50px);
    top: calc(34.20% - 14px);
    width: 30px;
}

.solona-logo-featured-norm {
    position: absolute;
    right: calc(32.51% - 105px);
    top: calc(33.90% - 17px);
    width: 60px;
}

.p-logo-mob {
    height: 22px;
    position: absolute;
    right: calc(47.54% - 8px);
    width: 18px;
    top: -1px;
}

.solona-logo-featured-big {
  position: absolute;
  right: calc(35.18% - 245px);
  top: calc(37.98% - 38px);
  width: 122px;
}

.solona-bg {
  background-color: transparent;
    bottom: 428px;
    height: 89px;
    position: absolute;
    right: 242px;
    width: 89px;
}

.solona-logo {
  bottom: 429px;
  height: 89px;
  position: absolute;
  right: 250px;
  width: 72px;
}

.solona-bg-mob {
  background-color: transparent;
  bottom: 242px;
  height: 26px;
  position: absolute;
  right: 50px;
  width: 26px;
}

.solona-logo-mob {
  bottom: 242px;
  height: 26px;
  position: absolute;
  right: 52px;
  width: 22px;
}

.solona-bg-tab {
  background-color: transparent;
  bottom: 346px;
  height: 44px;
  position: absolute;
  right: calc(23.92% - 10px);
  width: 44px;
}

.solona-logo-tab {
  bottom: 346px;
  height: 44px;
  position: absolute;
  right: calc(23.92% - 6px);
  width: 36px;
}

.solona-bg-big {
  background-color: transparent;
  bottom: 370px;
  height: 88px;
  position: absolute;
  right: calc(28.55% - 25px);
  width: 88px;
}

.solona-logo-big {
    bottom: 370px;
    height: 88px;
    position: absolute;
    right: calc(28.55% - 20px);
    width: 75px;
}

.p-logo-mob {
bottom: 1px;
    height: 16px;
    position: absolute;
    right: calc(47.54% - 6px);
    width: 12px;
}

.p-logo-tab {
bottom: 2px;
    height: 27px;
    position: absolute;
    right: calc(47.54% - 11px);
    width: 25px;
}

.back-to-top-btn {
  background-color: white;
    border-radius: 53px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 16%);
    height: 106px;
    position: fixed;
    right: 56px;
    bottom: 20px;
    width: 106px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.back-to-top-btn-img {
  background-color: transparent;
  height: 53px;
  position: absolute;
  right: calc(50.00% - 26px);
  top: calc(50.00% - 26px);
  width: 53px;
}

.show-btn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.hide-btn {
  visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
}


@media (min-width: 1200px) and (max-width: 1600px) {
  .back-to-top-btn {
    height: 60px;
    width: 60px;
}
.back-to-top-btn-img {
  height: 35px;
  right: calc(50.00% - 18px);
  top: calc(50.00% - 20px);
  width: 35px;
}
  
}

@media (min-width: 1025px) and (max-width: 1200px) {
  
  .back-to-top-btn {
    height: 60px;
    width: 60px;
}
.back-to-top-btn-img {
  height: 35px;
  right: calc(50.00% - 18px);
  top: calc(50.00% - 20px);
  width: 35px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .back-to-top-btn {
    height: 50px;
    right: 15px;
    width: 50px;
}
.back-to-top-btn-img {
  height: 26px;
  right: calc(50.00% - 14px);
  top: calc(50.00% - 15px);
  width: 26px;
}

  
}


@media (max-width: 767px) {
  
  .back-to-top-btn {
    height: 50px;
    right: 15px;
    width: 50px;
}
.back-to-top-btn-img {
  height: 30px;
  right: calc(50.00% - 16px);
  top: calc(50.00% - 16px);
  width: 30px;
}

::placeholder {
  font-size: 12px !important;
  font-weight: 500 !important;
  padding-left: 10px !important;
}
  
}

.menu-height {
  height: 415px !important;
}

::placeholder {
  color: rgba(2,123,151,1);
  font-family: 'Mukta Malar',Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  opacity: .42;
  padding-left: 20px;
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c5c5c5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #0ae;
  height: 200px;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

.beta-btn {
  border-radius: 7px !important;
    right: 10px !important;
    top: 7px !important;
    background-color: transparent !important;
    border: 1px solid #013753;
}

.beta-btn:hover {
  transform: none !important;
}

.beta-btn-mob {
  border-radius: 7px !important;
  right: 5px !important;
  top: 15px !important;
  background-color: transparent !important;
    border: 1px solid #013753;
}


.beta-btn-mob:hover {
  transform: none !important;
}

.beta-btn-tab {
  border-radius: 7px !important;
  right: 10px !important;
  top: 20px !important;
  background-color: transparent !important;
    border: 1px solid #013753;
}

.beta-btn-tab:hover {
  transform: none !important;
}

.beta-btn-big {
  border-radius: 7px !important;
    right: 10px !important;
    top: 20px !important;
    background-color: transparent !important;
    border: 1px solid #013753;
}

.beta-btn-big:hover {
  transform: none !important;
}

.beta-btn-text {
  color: #013753 !important;
  font-weight: 500 !important;
}

.giglantis-core-ants-governance-PlGJ2G {
  opacity: unset !important;
}

.giglantis-core-ants-governance-cjJakh {
  opacity: unset !important;
}

.giglantis-core-ants-governance-JxjZ0o {
  opacity: unset !important;
}

.giglantis-core-ants-governance-C61RwL {
  opacity: unset !important;
}

.giglantis-web-a-lso-serves-as-a-Jjw78R {
  opacity: unset !important;
}

.giglantis-web-a-lso-serves-as-a-QvxtZO {
  opacity: unset !important;
}

.giglantis-web-a-lso-serves-as-a-JxjZ0o {
  opacity: unset !important;
}

.giglantis-web-a-lso-serves-as-a-C61RwL {
  opacity: unset !important;
}

.giglantis-proto-mainly-consist-UNhtiJ {
  opacity: unset !important;
}

.giglantis-proto-mainly-consist-GrXde3 {
  opacity: unset !important;
}

.giglantis-proto-mainly-consist-JxjZ0o {
  opacity: unset !important;
}

.giglantis-proto-mainly-consist-C61RwL {
  opacity: unset !important;
}

.giglantis-nucle-e-swap-bank-poo-NkHUvx {
  opacity: unset !important;
}

.giglantis-nucle-e-swap-bank-poo-fwY0Cz {
  opacity: unset !important;
}

.giglantis-nucle-e-swap-bank-poo-JxjZ0o {
  opacity: unset !important;
}

.giglantis-nucle-e-swap-bank-poo-C61RwL {
  opacity: unset !important;
}

.user-layer-PlGJ2G {
  opacity: unset !important;
}

.user-layer-cjJakh {
  opacity: unset !important;
}

.user-layer-C61RwL {
  opacity: unset !important;
}

.user-layer-C61RwL {
  opacity: unset !important;
}

.web-and-mobile-ui-Jjw78R {
  opacity: unset !important;
}

.web-and-mobile-ui-QvxtZO {
  opacity: unset !important;
}

.web-and-mobile-ui-C61RwL {
  opacity: unset !important;
}

.web-and-mobile-ui-C61RwL {
  opacity: unset !important;
}

.protocol-layer-UNhtiJ {
  opacity: unset !important;
}

.protocol-layer-GrXde3 {
  opacity: unset !important;
}

.protocol-layer-C61RwL {
  opacity: unset !important;
}

.protocol-layer-C61RwL {
  opacity: unset !important;
}

.blockchain-core-NkHUvx {
  opacity: unset !important;
}

.blockchain-core-fwY0Cz {
  opacity: unset !important;
}

.blockchain-core-C61RwL {
  opacity: unset !important;
}

.blockchain-core-C61RwL {
  opacity: unset !important;
}

.hover-effect {
  opacity: .25 !important;
}

.hover-effect:hover {
  opacity: 1 !important;
  transform: scale(1.2) !important;
}

.learn-dropdown-menu {
  display: none;
  background-color: white;
  margin-top: 18px;
  border: 1px solid rgba(2, 123, 151, 1) !important;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 12%);
  border-radius: 7px !important;
  transition: 1s ease-in-out;
}

.learn-dropdown-menu-big {
  display: none;
  background-color: white;
  margin-top: 25px;
  border: 1px solid rgba(2, 123, 151, 1) !important;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 12%);
  border-radius: 7px !important;
  transition: 1s ease-in-out;
}

.dropdown-menu-container {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.dropdown-menu-item {
  color: rgb(2 123 151) !important;
  font-family: "Roboto", Helvetica !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  border-bottom: 1px solid #efefef;
  padding: 8px 0px 8px 0;
}

.filter-invert:hover {
  filter: none !important;
  transform: scale(1.2) !important;
}

.transform-effect {
  z-index: 99;
}

.transform-effect:hover {
  transform: scale(1.2) !important;
 
}